@{
  Layout = "_Layout";
}
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Budget App</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Welcome, Kenny</p>
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Accounts</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="/accounts">View All Accounts</a>
                    </li>
                    <li>
                        <a href="/accounts/new">Add Account</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/home/aboutus">About Us</a>
            </li>
            <li>
                <a href="/home/contact">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="https://github.com/owysocky/FinanceCounter.Solution/tree/master" class="download">Source Code</a>
            </li>
        </ul>
    </nav>

    <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn togglebtn">
                <i class="fas fa-align-left"></i>
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
        </div>
    </nav>
    <div id="accountShow">
      <h2>Details of @Model["account"].GetName()</h2>

      <h4><strong>Account Name :</strong> @Model["account"].GetName()</h4>
      <h4><strong>Account Balance :</strong> $@Model["account"].GetBalance()</h4>
      <br>
      <h4>Income(s):</h4>
      <ol>
      @foreach (var income in @Model["incomeCategories"])
      {
        <li><a href="/accounts/@Model["account"].GetId()/income/@income.GetId()">@income.GetName() - $@income.GetTotal()</a></li>
      }
      </ol>
      <a href='/accounts/@Model["account"].GetId()/income/new'><button class="addbtn">
      Add Income</button></a><br><br>
      <form action="/accounts/@Model["account"].GetId()/income/deleteall" method="post">
        <button type="submit" class="addbtn">Delete all income(s)</button>
      </form>
      <h4>Expense(s):</h4>
      <ol>
      @foreach (var expense in @Model["expenseCategories"])
      {
        <li><a href="/accounts/@Model["account"].GetId()/expense/@expense.GetId()">@expense.GetName() - $@expense.GetTotal()</a></li>
      }
      </ol>
      <a href='/accounts/@Model["account"].GetId()/expense/new'><button class="addbtn">
      Add Expense</button></a><br><br>
      <form action="/accounts/@Model["account"].GetId()/expense/deleteall" method="post">
        <button type="submit" class="addbtn">Delete all expense(s)</button>
      </form>
      <br><br><br>


      <a href='/accounts/@Model["account"].GetId()/edit'><button class="addbtn">
      Edit this account</button></a>

      <a href='/accounts/new'><button class="addbtn">
      Add a new account</button></a>
      <br><br>
      <form action="/accounts/@Model["account"].GetId()/delete" method="post">
        <button type="submit" class="addbtn">Delete this account</button>
      </form>
    </div>
      <div class="line"></div>
    </div>
</div>


    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
